#root {
  max-width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.button1 {
  margin: 20px;
  background-color: deeppink;
  color: white;
  width: 160px;
  height: 70px;
  /* box-shadow: inset; */
}

.button2 {
  margin: 20px;
  background-color: rgb(46, 210, 90);
  color: white;
  width: 160px;
  height: 70px;
  /* box-shadow: inset; */
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  min-width: 200px;
  gap: 16px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.top {
  display: block;
}

.trash {
  font-size: 8px;
  background-color: aliceblue;
}

.comment {
  width: 200px;
  height: 160px;
}

.postButton {
  margin: 5px;
  background-color: black;
  color: aliceblue;
}

.input {
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-all;
}
/* 
h2 {
  margin: 20px;
} */

/* .input {
  width: 150px;
  height: 150px;
  /* overflow-wrap: anywhere; */
/* } */

/* .commentList {
  width: 200px;
  height: 150px;
} */
